<%= form_for @artist, html: { multipart: true } do |f| %>
  <div class="form-group">
    <label>Artist name</label>
    <%= f.text_field :name, placeholder: "Artist name", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Artist description</label>
    <%= f.text_area :description, rows: 5, placeholder: "Artist description", class: "form-control" %>
  </div>

  <label>Photos</label>
  <div class="form-group">
    <span class="btn btn-default">
      Upload Photos
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </span>
  </div>

  <div id="photos">
    <%= render 'photos/list' %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
