<%= form_for [@artist, @album ,@song] do |f| %>
  <div class="form-group">
    <label>Song Title</label>
    <%= f.text_field :name, placeholder: "Song Title", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Year Released</label>
    <%= f.number_field :year_released, placeholder: "Year Released", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>URL (please fill in a valid Soundcloud url)</label>
    <%= f.text_field :url, placeholder: "Song URL", class: "form-control" %>
  </div>

  <label>Genres</label>

  <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |b| %>
  <div class="form-group">
    <%= b.check_box(class: "check_box") %> <%= b.object.name %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
