<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Songs
      </div>
      <div class="panel-body">

        <% @songs.each do |song| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= song.name %></h4>
          </div>
          <div class="col-md-3">
            <%= link_to "", artist_song_path(@artist,song), class: "glyphicon glyphicon-headphones" %>
            <%= link_to "", edit_artist_song_path(@artist, song), class: "glyphicon glyphicon-pencil" %>
            <%= link_to "", artist_song_path(@artist,song), method: :delete, data: { confirm: "Are you sure?" }, class: "glyphicon glyphicon-remove" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>

    <%= link_to "Add new song", new_artist_song_path, class: "btn btn-primary" %>
  </div>
</div>
